.page-title {
  display: flex !important;
  align-items: center;
  padding: 14px 0;
  background-color: #fd841f;
  width: 83%;
  margin: auto;
  min-height: 80px;
  border-radius: 5px;
}
.page-container {
  width: 100%;
  margin: auto !important;
}
.page-body {
  margin-top: 10px;
}
.btn {
  margin-left: 90%;
}

.btn button {
  display: flex;
  align-items: center;
  padding: 0px 10px !important;
  font-size: 14px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.367);
  background-color: #0a2647 !important;
  color: #fff !important;
  border: none;
  height: 34px;
  border-radius: 5px;
  justify-content: space-evenly;
}
.table-content {
  width: 100%;
  margin: auto;
}
.table-content table {
  width: 83%;
  margin: auto;
  border-collapse: collapse;
}
table thead th {
  background-color: #0a2647;
  color: #ffff;
  padding: 10px;
}

table tbody td {
  padding-left: 10px;
  color: #000;
  background-color: #82c3ec;
  border-bottom: 1px solid #ffffff;
  font-size: 14px;
  height: 50px;
}

.inactive {
  width: 100px;
  background-color: #ffff;
  border: none;
  border-radius: 5px;
  color: #0a2647;
  height: 30px;
  /* display: flex;
        justify-content: space-between; */
}

.active {
  width: 100px;
  background-color: #ffff;
  border: none;
  border-radius: 5px;
  color: #34a853;
  height: 30px;
}
.filters {
  padding-left: 30px;
  display: flex;
}

.filters input {
  /* width: 450px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #ffff;
    padding-left: 10px;
    font-family: "Poppins"; */
}
.filters input:focus-visible {
  outline: none;
}

.filters button {
  height: 40px;
  border: none;
  margin-left: -10px;
  width: 50px;
  background-color: #0a2647;
  border-radius: 4px;
}
.view-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: "Poppins";
}
.download {
  margin-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download button {
  border: none;
  background: white;
  border-radius: 4px;
  color: #0a2647;
  height: 35px;
}

.choose-image {
  margin: 0 !important;
  display: flex;
  height: 40px;
  margin-left: 20px !important;
}

.choose-image label {
  background-color: #e6f2ff;
  color: #1877f2;
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: normal !important;
  width: 141px;
  border: 1px solid #1877f2;
  text-align: center;
}
.file {
  margin-left: 20px;
  color: #ffff;
}
.upload button {
  width: 165px;
  margin-left: 21px;
  border: none;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
}
.loading {
  margin-left: 20px;
  color: #ffff;
}
.matched-download {
  margin-left: 50px;
  color: #0a2647;
}

.matched-download button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
}

.Unmatched-download {
  margin-left: 30px;
  color: #0a2647;
}

.Unmatched-download button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border: none;
  }
