<div class="preview-popup">

    <div class="popup">
    
    <div class="popup-container">
   
    <div class="content">
        <h2>Enquiry Preview</h2>
        <div class="subject">
            <h5>Subject :</h5>
            <h5>Reply To Enquiry On : 03/03/2023 - Register</h5>
        </div>
        <p class="small">The sender of this email is registered with Treatjobs.com as Admin NAME.</p>
        <div class="enquiry">
        <h5>Enquiry :</h5>
        <p>You are receiving this mail because the recruiter considers your profile to be suitable 
            for the following job opportunity posted on Treatjobs.com, and would like you to 
            apply for the job</p>
        </div>

        <div class="enquiry">
            <h5>Answer :</h5>
            <p>You are receiving this mail because the recruiter considers your profile to be suitable 
                for the following job opportunity posted on Treatjobs.com, and would like you to 
                apply for the job</p>
            </div>

            <div class="disclaimer">
            <span>Disclaimer :</span><p>The sender of this email is registered with Treatjobs.com as EMPLOYER NAME ( Employer mail id, Employer address) 
                using Treatjobs.com services. The responsibility of checking the authenticity of offers/correspondence lies with you.</p>
            </div>
    </div>   
   


    <div class="submit-btn">
        <button class="preview-btn">Back</button>
    <button class="send-btn">Send</button></div>
</div>
    
    
    </div>
    </div>