<div class="page-container">
    <div class="page-body">
        <div class="page-title">
            <div class="btn">
                <button [routerLink]="['/stream-plan']"> <span style="padding-right: 4px;">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 6V0H8V6H14V8H8V14H6V8H0V6H6Z" fill="white" />
                        </svg>
                    </span> Add Plan</button>
            </div>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <th>S.No</th>
                    <th>Plan Name</th>
                    <th>Price</th>
                    <th>Status</th>
                    <!-- <th>Plan Usage</th> -->
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of data;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.planName}}</td>
                        <td>{{data.offer_price|currency:"INR"}}</td>
                        <td>{{data.status}}</td>
                        <td><button>Deactivate</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>