<div class="page-container">
    <div class="page-body">
        <div class="page-title">
            <div class="filters" style="display: flex;justify-content: center;width: 97%; ">
                <!-- <h3 style="color: #ffff;"> Manage Candidates </h3> -->
            </div>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <th>Stream Name</th>
                    <th>Date & Time</th>
                    <th>Link Status</th>
                    <th>Stream Status</th>
                    <th>Rating Status</th>
                    <th>Rating</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let stream of Stream">
                        <td [routerLink]="['/admin/agri-volunteer-view']" [queryParams]="{id:stream._id}">
                            {{stream.Type}}
                            Stream</td>
                        <td>{{stream.start|date:"dd-MM-YYYY hh:mm a"}} - {{stream.endTime|date:"hh:mm a"}}</td>
                        <td>{{stream.linkstatus}}</td>
                        <td>{{stream.streamStatus}}</td>
                        <td>{{stream.rating}}</td>
                        <td>{{stream.streamStatus =='Completed'?stream.retingCount+'/2':'--'}}</td>
                        <td>
                            <button class="link-btn" *ngIf="stream.streamStatus !='Completed' && stream.Type =='HR'"
                                (click)="copy_now_new(stream._id)">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.88889 0V1.11111H1.11111V8.88889H8.88889V6.11111H10V9.44444C10 9.75128 9.75128 10 9.44444 10H0.555556C0.248733 10 0 9.75128 0 9.44444V0.555556C0 0.248733 0.248733 0 0.555556 0H3.88889ZM8.10322 1.11111H5.55556V0H10V4.44444H8.88889V1.89678L5 5.78567L4.21433 5L8.10322 1.11111Z"
                                        fill="#0A2647" />
                                </svg>
                                {{ copy_success && stream._id == chooseId ? "Copied" : "HR" }}
                            </button>
                            <button class="link-btn" style="margin-right: 4px;"
                                *ngIf="stream.streamStatus !='Completed'&& stream.Type =='Tech'" (click)="copy_now_new(stream._id)">
                                <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.88889 0V1.11111H1.11111V8.88889H8.88889V6.11111H10V9.44444C10 9.75128 9.75128 10 9.44444 10H0.555556C0.248733 10 0 9.75128 0 9.44444V0.555556C0 0.248733 0.248733 0 0.555556 0H3.88889ZM8.10322 1.11111H5.55556V0H10V4.44444H8.88889V1.89678L5 5.78567L4.21433 5L8.10322 1.11111Z"
                                        fill="#0A2647" />
                                </svg> {{ copy_success && stream._id == chooseId ? "Copied" : "Tech" }}
                            </button>

                            <button *ngIf="stream.streamStatus=='Completed'" class="view-btn-video"
                                (click)="singleView(stream)">View</button>
                            <button *ngIf="stream.streamStatus=='Completed'" class="down-btn-video"
                                style="margin-left: 10px;"
                                (click)="downloadVideo('https://streamingupload.s3.ap-south-1.amazonaws.com/'+stream.videoURL)">Download</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="popup-2" *ngIf="popup">
    <div class="popup-close-2" (click)="popupClose()"></div>
    <div class="popup-container-2">
        <div class="close"></div>
        <div class="video-view">
            <video width="700" height="500"
                [src]=" 'https://streamingupload.s3.ap-south-1.amazonaws.com/'+singleData.videoURL" autoplay></video>
        </div>
    </div>

</div>