<div class="enquiry-popup">

    <div class="popup">
    
    <div class="popup-container">
        <h2>Enquiry</h2>
       
   
<div class="form">

<div>
    <label>Enquiry ID :</label>
 <p>124545</p>
</div>
<div>
    <label>Name :</label>
    <p>ABCD</p>
</div>
<div>
    <label>Email :</label>
    <p>Abcd@gmail.com</p>
</div>
<div>
    <label>Phone Number:</label>
    <p>9898989898</p>
</div>
<div>
    <label>Enquiry : </label>
    <p>You can search for jobs that have been
        search for jobs that have been You can 
        for jobs that have been</p>
</div>




</div>


        <div class="submit-btn">
           
        <button class="send-btn">Back</button></div>
    </div>
    
    
    </div>
    
    </div>