<div class="page-container">
    <div class="page-body">
        <div class="page-title">
            <div class="filters" style="display: flex;justify-content: center;width: 97%; ">
                <h3 style="color: #ffff;"> Manage Candidates </h3>
            </div>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Location</th>
                    <th>Stream</th>
                    <th>Status</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of Cand">
                        <td>{{data.name}}</td>
                        <td>
                            <p>{{data.mobile}}</p>
                        </td>
                        <td>
                            <p>{{data.location}}</p>
                        </td>
                        <td>
                            <p (click)="CandidateDetailsRoute(data._id)">{{"1"}}</p>
                        </td>
                        <td>
                            <p>{{data.active?'Active':'In-Active'}}</p>
                        </td>
                        <td><button>active</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>