<div class="page-container">
    <div class="page-body">
        <!-- <div class="page-title">
            <div class="filters" style="display: flex;justify-content: center;width: 97%; " [formGroup]="filterForms">
                <div class="name-mob">
                    <input type="text" placeholder=" Enter Name/Contact" formControlName="name">
                </div>
                <div class="name-mob">
                    <input type="text" placeholder=" Enter location" formControlName="location">
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="20" height="21" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.0001 18.635L5.4826 21.8823C4.7422 22.3181 3.83324 21.679 3.99276 20.8348L5.24001 14.2347L0.492933 9.61885C-0.108447 9.03409 0.233986 8.01335 1.06635 7.90958L7.44015 7.11497L10.0843 1.08753C10.4342 0.289834 11.5659 0.28984 11.9158 1.08754L14.5599 7.11497L20.9337 7.90958C21.766 8.01335 22.1085 9.03409 21.5071 9.61884L16.7601 14.2347L18.0073 20.8348C18.1668 21.679 17.2579 22.3181 16.5175 21.8823L11.0001 18.635ZM11.0001 16.101L15.4653 18.7291L14.468 13.4517L18.225 9.79857L13.1434 9.16501L11.0001 4.27913L8.85669 9.16501L3.77504 9.79857L7.53202 13.4517L6.53473 18.7291L11.0001 16.101Z" fill="#0A2647"/>
                        </svg>
                              Rating
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="filter-btn">
                    <button (click)="filter()">Apply</button>
                </div>                  
            </div>
        </div> -->
        <div class="table-content">
            <table class="table-primary">
                <thead>
                    <th>Name</th>
                    <th>Date & Time</th>
                    <th>Ratings</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tech">
                        <td>{{data.name}}</td>
                        <td>
                            {{data.startTime|date}} | {{data.startTime|date:"hh:mm a"}}
                        </td>

                        <td>
                            <p style="margin-bottom: 0;" *ngIf="data.Techreview!=null">{{data.Techreview.rating}}/5</p>
                            <p style="margin-bottom: 0;" *ngIf="data.Techreview==null">--/5</p>
                        </td>
                        <td><button class="btn btn-light" (click)="singleView(data)" [disabled]="data.rating!='Rated'">View</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="popup-2" *ngIf="popup">
    <div class="popup-close-2" (click)="popupClose()">
    
    </div>
    
    <div class="popup-container-2"><!--style="height: fit-content;"-->
        <button class="btn btn-close" (click)="popupClose()" style="float: right; margin-right: 20px; margin-top: 20px;"></button>
        <div class="content-title">
            <!-- <p>{{singleData.name?singleData.name:'--'}}</p> -->
            <p>HR Ratings</p>
            <h4 style="text-align: center;">Rating: {{singleData.Techreview.rating?singleData.Techreview.rating:"--"}}/5
            </h4>
        </div>
        <div class="container" *ngIf=" singleData.rating=='Rated'" style="padding: 30px;">
            <div class="Fields">
                <h4>Language</h4>
            </div>
            <div class="row" *ngFor="let skill of singleData.Techreview.skillsrated">
                <div class="col">
                    <p> {{skill.skills}}:</p>
                </div>
                <div class="col">
                    <p> {{skill.rating}}</p>
                </div>
            </div>
            <div class="Fields">
                <h4>Attributes</h4>
            </div>
            <div class="row">
                <div class="col">
                    <label> Understanding :</label>
                </div>
                <div class="col">
                    <p> {{singleData.Techreview.underStating}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label> Coding :</label>
                </div>
                <div class="col">
                    <p> {{singleData.Techreview.coding}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label> Communication :</label>
                </div>
                <div class="col">
                    <p> {{singleData.Techreview.communication}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label> Individual Codes :</label>
                </div>
                <div class="col">
                    <p> {{singleData.Techreview.individualCode}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label> Logic :</label>
                </div>
                <div class="col">
                    <p> {{singleData.Techreview.logic}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label> Project Understanding :</label>
                </div>
                <div class="col">
                    <p> {{singleData.Techreview.projectUnderStanding}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label> Comments :</label>
                </div>
                <div class="col">
                    <p> {{singleData.Techreview.comments}} </p>
                </div>
            </div>
        </div>
    </div>
</div>