<div class="page-container">
    <div class="page-body">
        <div class="page-title">
            <div class="filters" [formGroup]="filterForm">
                <input type="text" placeholder="Mobile / E-mail" formControlName="user">
                <select name="" id="" formControlName="gender">
                    <option [value]="null" selected disabled style="display: none;">Gender</option>
                    <option [value]=" 'Male' ">Male</option>
                    <option [value]="'Female'">Female</option>
                </select>
                <select name="" id="" formControlName="coursetime">
                    <option [value]="null" selected disabled style="display: none;">Shift</option>
                    <option [value]="'Morning Shift'">Morning Shift</option>
                    <option [value]="'Evening Shift'">Evening Shift</option>
                    <option [value]="'General Shift'">General Shift</option>
                </select>
                <select name="" id="" formControlName="user_type">
                    <option [value]="null" selected disabled style="display: none;"> User Type</option>
                    <option [value]="'Intern'">Intern</option>
                    <option [value]="'IT'">IT</option>
                    <option [value]="'HR'">HR</option>
                </select>
                <button (click)="applyFilter()"> Apply Filter</button>
                <button (click)="clear()">Clear</button>
            </div>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>E-mail</th>
                    <th>Type</th>
                    <th>Pincode</th>
                    <th>Course Time</th>
                    <th>Passed Year</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of candidates">
                        <td style="text-decoration: underline; cursor: pointer;" (click)="singleView(data)">
                            {{data.name}}</td>
                        <td>{{data.mobileNumber}}</td>
                        <td>{{data.mail}}</td>
                        <td>{{data.user_type}}</td>
                        <td>{{data.pincode}}</td>
                        <td>{{data.courseTiming}}</td>
                        <td>{{data.year_of_passedout}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="popup-2" *ngIf="popup">
    <div class="popup-close-2" (click)="popupClose()"></div>
    <div class="popup-container-2">
        <div class="close"></div>
        <div class="content-title">
            <p>{{singleData.name?singleData.name:'Network Error Contact Developer'}}</p>
        </div>
        <div class="user-data">
            <div class="Fields">
                <label> Mobile Number :</label>
                <p> {{singleData.mobileNumber}} </p>
            </div>
            <div class="Fields">
                <label> E-mail:</label>
                <p> {{singleData.mail}} </p>
            </div>
            <div class="Fields">
                <label> Gender:</label>
                <p> {{singleData.gender}} </p>
            </div>
            <div class="Fields">
                <label> Slot Date :</label>
                <p>{{singleData.testProfile?singleData.testProfile.date:"--"}}</p>
            </div>
            <div class="Fields">
                <label>Slot Time :</label>
                <p> {{singleData.testProfile?singleData.testProfile.time:"--"}} </p>
            </div>
            <div class="Fields">
                <label> Course Name :</label>
                <p>{{singleData.courseName?singleData.courseName:'--'}}</p>
            </div>
            <div class="Fields">
                <label>CourseTiming:</label>
                <p> {{singleData.courseTiming?singleData.courseTiming:"--"}} </p>
            </div>
            <div class="Fields">
                <label>Institution :</label>
                <p>{{singleData.institution?singleData.institution:"--"}}</p>
            </div>
            <div class="Fields">
                <label>Pincode :</label>
                <p>{{singleData.pincode?singleData.pincode:"--"}}</p>
            </div>
            <div class="Fields">
                <label>Year Of Passing :</label>
                <p>{{singleData.year_of_passedout?singleData.year_of_passedout:"--"}}</p>
            </div>
            <div class="Fields">
                <label>Employment:</label>
                <p>{{singleData.do_you_work?singleData.do_you_work:"--"}}</p>
            </div>
        </div>

    </div>
</div>