<div class="page-container">
    <div class="page-body">
        <div class="page-title">
            <div class="btn">
                <!-- <button>
                    <span style="padding-right: 4px;">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 6V0H8V6H14V8H8V14H6V8H0V6H6Z" fill="white" />
                        </svg>
                    </span>
                    Add Plan</button> -->
            </div>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <th>Date</th>
                    <th>Time Slot</th>
                    <th>No Of Slot</th>
                    <th>No Of Candidates</th>
                    <th>Download EXCEL</th>
                </thead>
                <tbody>
                    <tr *ngFor="let slot of data">
                        <td>{{slot.date}}</td>
                        <td>{{slot.slot?slot.slot:"--"}}</td>
                        <td>{{slot.no_of_count}}</td>
                        <td class="und" (click)="candRoute(slot.date, slot.slot)">{{slot.candidates}}</td>
                        <td><button (click)="downloadClick(slot.candList, slot.date, slot.slot)" class="download"><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                            <svg width="25px" height="25px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 15.9853L15.182 12.8033L14.1213 11.7427L12.75 13.114L12.75 5.25L11.25 5.25L11.25 13.114L9.8787 11.7427L8.81804 12.8033L12 15.9853ZM12 13.864L12 13.864L12.0001 13.864L12 13.864Z" fill="#080341"/>
                            <path d="M18 17.25L18 18.75L6 18.75L6 17.25L18 17.25Z" fill="#080341"/>
                            </svg></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>