<div class="page-container">
    <div class="page-body">
        <div class="page-title">
            <div class="filters" [formGroup]="filterForm">
                <input type="text" placeholder="Enter Mobile / Email" formControlName="key">
                <button (click)="getAllEvents()">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M14.9682 8.98408C14.9682 12.289 12.289 14.9682 8.98408 14.9682C5.67916 14.9682 3 12.289 3 8.98408C3 5.67916 5.67916 3 8.98408 3C12.289 3 14.9682 5.67916 14.9682 8.98408ZM17.9682 8.98408C17.9682 13.9458 13.9458 17.9682 8.98408 17.9682C4.02231 17.9682 0 13.9458 0 8.98408C0 4.02231 4.02231 0 8.98408 0C13.9458 0 17.9682 4.02231 17.9682 8.98408ZM18.1497 16.0323C17.565 15.4475 16.6169 15.4475 16.0321 16.0323C15.4474 16.617 15.4474 17.5651 16.0321 18.1498L17.4438 19.5615C18.0286 20.1463 18.9767 20.1463 19.5614 19.5615C20.1462 18.9768 20.1462 18.0287 19.5614 17.444L18.1497 16.0323Z"
                            fill="#FFFF" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <th>Name</th>
                    <th>New User</th>
                    <th>Gender</th>
                    <th>Mobile Number</th>
                    <th>Education</th>
                    <th>Location</th>
                    <th>Passed Out</th>
                    <th>Date & Time</th>
                </thead>
                <tbody>
                    <tr *ngFor="let climb of data">
                        <td (click)="singleView(climb)">{{climb.name}}</td>
                        <td>{{climb.testNewUser}}</td>
                        <td>{{climb.gender}}</td>
                        <td>{{climb.mobileNumber}}</td>
                        <td>{{climb.education}}</td>
                        <td>{{climb.currentLocation}}</td>
                        <td style="width: 10px;">{{climb.year_of_passedout}}</td>
                        <td>{{climb.date}} & {{climb.slot}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="popup-2" *ngIf="popup">
    <div class="popup-close-2" (click)="popupClose()"></div>
    <div class="popup-container-2">
        <div class="close"></div>
        <div class="content-title">
            <p>{{singleData.name?singleData.name:'Network Error Contact Developer'}}</p>
        </div>
        <div class="user-data">
            <div class="Fields">
                <label> Mobile Number :</label>
                <p> {{singleData.mobileNumber}} </p>
            </div>
            <div class="Fields">
                <label> E-mail :</label>
                <p> {{singleData.mail}} </p>
            </div>
            <div class="Fields">
                <label> Date :</label>
                <p>{{singleData.date}}</p>
            </div>
            <div class="Fields">
                <label> Time :</label>
                <p> {{singleData.slot}} </p>
            </div>
            <div class="Fields">
                <label> Status :</label>
                <p>{{singleData.status?singleData.status:'Pending'}}</p>
            </div>
            <div class="Fields">
                <label> Core Skills:</label>
                <p> {{singleData.testProfile?singleData.testProfile.coreSkill:"--"}} </p>
            </div>
            <div class="Fields">
                <label> Key Skills :</label>
                <p>{{singleData.testProfile?singleData.testProfile.keySkill:"--"}}</p>
            </div>
        </div>

    </div>
</div>