<div class="page-container">
    <div class="page-body">
        <div class="page-title">
            <form class="filters" [formGroup]="filter">
                <input type="text" placeholder="Enter Mobile / Name" formControlName="search" (keyup)="search_now()">
                <div class="dropdown">

                    <button type="button" class="btn" data-bs-toggle="dropdown">
                        Sort
                        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.4 0V14.1176H24L19.2 20L14.4 14.1176H18V0H20.4ZM10.8 16.4706V18.8235H0V16.4706H10.8ZM13.2 8.23529V10.5882H0V8.23529H13.2ZM13.2 0V2.35294H0V0H13.2Z"
                                fill="#0A2647" />
                        </svg>

                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" [ngClass]="filter.get('status').value =='all'?'active':''"
                                (click)="filter_status('all')">All</a></li>
                        <li><a class="dropdown-item" [ngClass]="filter.get('status').value =='Active'?'active':''"
                                (click)="filter_status('Active')">Active</a></li>
                        <li><a class="dropdown-item" [ngClass]="filter.get('status').value =='Slot Chosen'?'active':''"
                                (click)="filter_status('Slot Chosen')">Slot Chosen</a></li>
                        <li><a class="dropdown-item"
                                [ngClass]="filter.get('status').value =='Waiting For Approval'?'active':''"
                                (click)="filter_status('Waiting For Approval')">Waiting For
                                Approval</a></li>
                        <li><a class="dropdown-item" [ngClass]="filter.get('status').value =='Approved'?'active':''"
                                (click)="filter_status('Approved')">Approved</a></li>
                        <li><a class="dropdown-item" [ngClass]="filter.get('status').value =='Cleared'?'active':''"
                                (click)="filter_status('Cleared')">Cleared</a></li>
                        <li><a class="dropdown-item" [ngClass]="filter.get('status').value =='Link Shared'?'active':''"
                                (click)="filter_status('Link Shared')">Link Shared</a></li>
                        <li><a class="dropdown-item" [ngClass]="filter.get('status').value =='Completed'?'active':''"
                                (click)="filter_status('Completed')">Completed</a></li>
                        <li><a class="dropdown-item"
                                [ngClass]="filter.get('status').value =='Rating Complete'?'active':''"
                                (click)="filter_status('Rating Complete')">Rating Complete</a></li>


                    </ul>
                </div>
            </form>
        </div>
        <div class="table-content">
            <table>
                <thead>
                    <th>Name</th>
                    <th>HR</th>
                    <th>HR Date & Time</th>
                    <th>Tech</th>
                    <th>HR Data & Time</th>
                    <th>status</th>
                    <th>Link</th>
                    <th style="width: 180px; text-align: center;">action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let can of cand">
                        <td (click)="singleView(can)">{{can.name}}</td>
                        <td style="cursor: pointer;" (click)="volunteer(can._id, 'HR')">
                            {{can.approved_HR}}/{{can.HRIntrest}}</td>
                        <td> {{can.HR_DateTime|date:"dd-MM-YYYY hh:mm a"}} </td>
                        <td style="cursor: pointer;" (click)="volunteer(can._id, 'Tech')">
                            {{can.approved_TECH}}/{{can.TechIntrest}}</td>
                        <td> {{can.Tech_DateTime|date:"dd-MM-YYYY hh:mm a"}} </td>
                        <td>{{can.status}}</td>
                        <td>
                            <a *ngIf="can.status!='Active' && can.status!='Slot Chosen' &&  can.status!= 'Waiting For Approval' && can.status !='Approved'"
                                [routerLink]="['/admin/agri-stream-candidate']" [queryParams]="{id:can._id}">
                                View
                            </a>
                        </td>
                        <td class="btns">
                            <button class="btn btn-sm clear-button" *ngIf="can.status =='Approved'"
                                (click)="clear_cand(can)">Clear</button>
                            <button class="btn btn-sm clear-button" *ngIf="can.status =='Cleared'"
                                (click)="link_send(can)">Send Link</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="pagination">
                <div class="pageination-logo">
                    <img src="../../assets/image/left-arrow.png" alt="" style="margin-top:5px;cursor: pointer;"
                        class="p-left" (click)="page!=0?pagination(0):''" [ngClass]="page==0?'disabled_button':''">
                    <div class="pageination-number">{{page+1}}</div>
                    <img src="../../assets/image/right-arrow.png" style="margin-top:5px;cursor: pointer;" alt=""
                        class="p-right" (click)="next?pagination(1):''" [ngClass]="!next?'disabled_button':''">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-2" *ngIf="popup">
    <div class="popup-close-2" (click)="popupClose()"></div>
    <div class="popup-container-2">
        <div class="close"></div>
        <div class="content-title">
            <p>{{candidate.name?candidate.name:'Network Error Contact Developer'}}</p>
        </div>
        <div class="user-data">
            <div class="Fields">
                <label> Mobile Number :</label>
                <p> {{candidate.mobile}} </p>
            </div>
            <div class="Fields">
                <label> E-mail :</label>
                <p> {{candidate.mail}} </p>
            </div>
            <div class="Fields">
                <label> Gender:</label>
                <p> {{candidate.gender?candidate.gender:"--"}} </p>
            </div>
            <div class="Fields">
                <label> DOB :</label>
                <p> {{candidate.dob?candidate.dob:"--"}} </p>
            </div>
            <div class="Fields">
                <label> Skills :</label>
                <p>{{candidate.skills?candidate.skills:"--"}}</p>
            </div>
            <div class="Fields">
                <label>Location :</label>
                <p> {{candidate.location?candidate.location:"--"}} </p>
            </div>
            <div class="Fields">
                <label> Education Name :</label>
                <p>{{candidate.Education?candidate.Education:'--'}}</p>
            </div>
            <div class="Fields">
                <label>Affiliated University:</label>
                <p> {{candidate.affiliateduniversity?candidate.affiliateduniversity:"--"}} </p>
            </div>
            <div class="Fields">
                <label>Institution :</label>
                <p>{{candidate.Instituitionname?candidate.Instituitionname:"--"}}</p>
            </div>
            <!-- <div class="Fields">
                <label>Hr Ratings :</label>
                <p>{{candidate.hrRating?candidate.hrRating/5:"--"}}/5</p>
            </div> 
            <div class="Fields">
                <label>Tech Rating :</label>
                <p>{{candidate.techRating?candidate.techRating/5:"--"}}/5</p>
            </div> -->
        </div>

    </div>
</div>